<tr>
  <td><%= user.name %></td>
  <td><%= activable_field_for(user) %></td>
  <td>
    <%= edit_resource   edit_user_path(user) %>
    <%= remove_resource(user_path(user), {})%>
    <%= show_resource_with_icon user_path(user) %>
  </td>
</tr>
