<div class="container-fluid">
  
  <div class="header-page d-flex justify-content-between mb-2">
    <!-- Page Heading -->
    <h6 class="h3 mb-0 text-gray-800">
      <%= title_page 'Title Page', subtitle: 'Subtitle' %>
    </h6>

    <div class="breadcrumbs d-flex align-items-center">
      <li class="breadcrumbs__item">
        <%= link_to "LolDesignPublisher", "javascript:void(0)" %>
      </li>

      <li class="breadcrumbs__item">
        <%= link_to "Users", "javascript:void(0)" %>
      </li>
    </div>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
      <div class="left-group d-flex">
        <div class="input-group mb-0">
          <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-0">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Options</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div class="right-group d-flex">
        <%= add_resource 'Add New User', new_user_path %>
        
        <div class="btn light">
          <%= link_to "Export", 'javascript:void(0)' %>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>E-mail</th>
              <th>Description</th>
              <th>Activate User</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tfoot>
            <tr>
              <th>Name</th>
              <th>E-mail</th>
              <th>Description</th>
              <th>Activate User</th>
              <th>Actions</th>
            </tr>
          </tfoot>

          <tbody>
            <%= display_list_for(@users, fields: 4) %>
          </tbody>
        </table>

        <!-- pagination example with will_paginate -->
        <div class="table-footer d-flex justify-content-between mt-5">
          <div class="dataTables_info d-flex align-items-center" id="datatable-buttons_info" role="status" aria-live="polite">
            <p class="mb-0">
              <%= page_entries_info @users %>
            </p>
          </div>
          
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end mb-0">
              <%= will_paginate @users %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>