<!DOCTYPE html>
<html>
<head>
  <title><%= LoldesignPublisher.config[:page_title] %></title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= csrf_meta_tags %>

  <!-- Stylesheets -->
  <%= stylesheet_link_tag 'loldesign_publisher/publisher_bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Javascripts -->
  <%= javascript_include_tag 'loldesign_publisher/publisher_bootstrap' %>
  <%= javascript_include_tag '/grid.js' if Rails.env.development? %>
  <script src="https://kit.fontawesome.com/67bf181556.js" crossorigin="anonymous"></script>
</head>

<body class="bg-gradient-primary">
	<div class="container">
  	<%= yield %>
	</div>
</body>
</html>
