<header class="title-page" data-show=<%= show_options[:display] %> data-save=<%= save_options[:display] %>>
  <h2><%= title %></h2>

  <%= show_resource 'Visualizar', show_options[:path] %>
  <%= save_resource 'Salvar'    , save_options[:path] %>
</header>